<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style type="text/css">
        .nav {
            max-width: 100%;
            margin: 0 auto;
            background: #1d2e51;
        }

        body {
            background-color: #00b2ff;
        }

        .container {
            justify-content: center;
        }
    </style>
</head>


<body>
    <a href="/">
        <img src="//opgg-static.akamaized.net/images/logo/logo-lol.png" alt="" class="site__logo"><span class="site__name"><img src="//opgg-static.akamaized.net/images/logo/l_logo.png"></span></a>


    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="http://op.gg/">홈</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/champion/statistics">챔피언 분석</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/statistics/">통계</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ranking/">랭킹</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/spectate">프로관전</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://talk.op.gg/s/lol" target='_blank'>커뮤니티</a>
        </li>

    </ul>

    <div class="container">
        <div class="index-logo">
            <img src="https://attach.s.op.gg/logo/20190128090241.bcb4fa0f06c3a9deea6dc1798ce6ee5a.PNG" title="Awaken" alt="OP.GG Logo (Awaken)" class="Image">
        </div>
    </div>

    <div class="container">
        <form action="/opgg_result" target='_blank'>
            <input type="text" name="username">
            <button type="submit" class="btn btn-primary">GG</button>
            <!--<input type="submit" value="search">-->
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</from>
