{% extends 'movies/base.html' %}
{% block title %}INDEX{% endblock %}
{% block body %}
    <h1 class='bg-info'>영화 정보 수정하기</h1>
    <h2>{{ movie.title }} 정보 수정</h2>
    <form action="/movies/{{ movie.pk }}/update/" method="POST">
        {% csrf_token %}
        <label for="title">제목</label>
        <input type="text" name="title" value="{{ movie.title }}"/><br>
        
        <label for="audience">누적 관객수</label>
        <input type="number" name="audience" value="{{ movie.audience }}"/><br>
        
        <label for="genre">장르</label>
        <input type="text" name="genre" value="{{ movie.genre }}"/><br>
        
        <label for="score">평점</label>
        <input type="number" name="score" value="{{ movie.score }}"/><br>
        
        <label for="poster_url">포스터 이미지 URL</label>
        <input type="text" name="poster_url" value="{{ movie.poster_url }}"/><br>
        
        <label for="description">영화 소개</label>
        <textarea type="text" name="description">{{ movie.description }}</textarea><br>
        <input type="submit" value="Submit"/>
    </form>
    <hr>
    <a href="/movies/{{ movie.pk }}/">[뒤로가기]</a>
{% endblock %}