{% extends 'movies/base.html' %} {% block title %}INDEX{% endblock %} {% block body %}
<div class="jumbotron">
    <h1 class="display-4 text-center">영화 소개해줄까?</h1>
    <p class="lead text-center">요새 유행하는 영화를 소개해드립니다!</p>
    <hr class="my-4">
    <p class="text-center">만약 영화를 소개하고 싶다면 아래 링크를 눌러서 영화 정보를 등록해주세요!</p>
    <div class='d-flex justify-content-end'>
        <a class="btn btn-primary btn-lg" href="/movies/new/" role="button">영화 정보 등록</a>
    </div>
</div>

<h3 class="d-flex justify-content-center">영화 목록</h3>
<!--<a href="/movies/new/">[영화 정보 등록]</a>-->

{% for movie in movies %}
<div class="d-flex justify-content-center">
    <div class="card" style="width: 36rem;">
        <div class="card-body">
            {{ movie.pk }}. <a href="/movies/{{ movie.pk }}/">{{ movie.title }}</a>,<span class="badge badge-pill badge-light">{{ movie.score }}</span>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}
