{% extends 'movies/base.html' %}
{% block title %}INDEX{% endblock %}
{% block body %}
    <h1 class='bg-info'>영화 정보 등록하기</h1>
    <form action="/movies/create/" method="POST">
        {% csrf_token %}
        <label for="title">제목</label>
        <input type="text" name="title"/><br>
        
        <label for="audience">누적 관객수</label>
        <input type="number" name="audience"/><br>
        
        <label for="genre">장르</label>
        <input type="text" name="genre"/><br>
        
        <label for="score">평점</label>
        <input type="number" name="score"/><br>
        
        <label for="poster_url">포스터 이미지 URL</label>
        <input type="text" name="poster_url"/><br>
        
        <label for="description">영화 소개</label>
        <textarea type="text" name="description"></textarea><br>
        <input type="submit" value="Submit"/>
    </form>
    <hr>
    <a href="/movies/">[뒤로가기]</a>
{% endblock %}