<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>EDIT</h1>
    <form action='/movies/{{movie.id}}/update/'>
        <p>title <input type="text" name="title" value="{{ movie.title }}" required/></p>
        <p>title_en <input type="text" name="title_en" value="{{ movie.title_en }}" required/></p>
        <p>audience <input type="number" name="audience" value="{{ movie.audience }}" required/></p>
        <p>open_date <input type="date" name="open_date" value="{{ movie.open_date }}" required/></p>
        <p>genre <input type="text" name="genre" value="{{ movie.genre }}" required/></p>
        <p>watch_grade <input type="text" name="watch_grade" value="{{ movie.watch_grade }}" required/></p>
        <p>score <input type="number" name="score" value="{{ movie.score }}" required/></p>
        <p>poster_url <input type="text" name="poster_url" value="{{ movie.poster_url }}" required/></p>
        <p><textarea name="description">{{ movie.description }}</textarea></p>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>