{% extends 'students/base.html' %}
{% block body %}
    <h1 class="d-flex justify-content-center">수정하기</h1>
    <h2>{{ student.name }} 학생 정보 수정</h2>
    <hr>
    <form action='/students/{{ student.pk }}/update/' method="POST">
        {% csrf_token %}
        <label for="name">name</label>
        <input type="text" name="name" id="name" value="{{ student.name }}"/><br>
        <label for="email">email</label>
        <input type="email" name="email" id="email" value="{{ student.email }}"/><br>
        <label for="birthday">birthday</label>
        <input type="date" name="birthday" id="birthday" value="{{ student.birthday|date:'Y-m-d' }}"/><br>
        <label for="age">age</label>
        <input type="number" name="age" id="age" value="{{ student.age }}"/><br>
        <input type="submit" value="Submit"/>
    </form>
    <a href="/students/">Back</a>
{% endblock %}