{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
    <!--header-->
     <div class="bg-danger" style="height:350px">
        <h1 class="d-flex justify-content-center align-items-center" style="height:100%">Header</h1>
    </div>
    
    <!-- Footer -->
    <footer class="page-footer fixed-bottom bg-secondary" style="height:50px">
        <div class="d-flex align-items-center" style="height:100%">
            <a class="p-3 justify-content-start">SSAFY</a>
            <a class="p-3 justify-content-end ml-auto" href="#home">상단으로 올라가기</a>
        </div>
    </footer>
    
{% endblock %}