{% extends 'base.html' %} {% block title %}My Page{% endblock %} {% block body %} {% load static %}


<div class="container">
    <div class="card position-fixed" style="width: 18rem;">
        <img src="{% static 'detail/images/bono.jpg' %}" class="card-img-top rounded-circle" alt="pofile_image">
        <div class="card-body">
            <h5 class="card-title">보노보노</h5>
            <p class="card-text">비실거려요</p>
            <a href="#">logout</a>
        </div>
    </div>


    <div class="float-right">
        <div class="card" style="width: 36rem;">
            <img src="{% static 'detail/images/cat.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">예의 바른 고양이</h5>
                <p class="card-text">우리 집 고양인 예의가 바릅니다.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 36rem;">
            <img src="{% static 'detail/images/cat.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">예의 바른 고양이</h5>
                <p class="card-text">우리 집 고양인 예의가 바릅니다.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 36rem;">
            <img src="{% static 'detail/images/cat.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">예의 바른 고양이</h5>
                <p class="card-text">우리 집 고양인 예의가 바릅니다.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 36rem;">
            <img src="{% static 'detail/images/cat.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">예의 바른 고양이</h5>
                <p class="card-text">우리 집 고양인 예의가 바릅니다.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 36rem;">
            <img src="{% static 'detail/images/cat.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">예의 바른 고양이</h5>
                <p class="card-text">우리 집 고양인 예의가 바릅니다.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>


</div>
{% endblock %}
